footer {
    width: auto;
    height: 200px;
    background-color: gainsboro;
    display: block;

}/*
section{
    float: left;
    margin: 0 1.5%;
    width: 30%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}
<footer>
    <div>
        <!-----Contact Us------>
        <div><h2>MOBILE MART</h2></div>
        <!------Social Media----->
        <div><h2>MOBILE MART</h2></div>
        <!------Social Media----->
        <div><h2>MOBILE MART</h2></div>
    </div>
</footer>    
*/
