* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    /*background: white;*/
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}   
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img {
    max-width: 100%;
    padding-right: 20px;
    
}
.col-1 img:hover {
    opacity: 0.9;
}
.col-1 h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 25px 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.col-1 p {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
}
.btn {
    display: inline-flex;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-family:'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}
/* Featured section */
.categories {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color:pink;
    padding: 50px 0;

    
}
.small-container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: -5%;
    padding-right: -5%;
}/*
.categories .col-2 {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
}
.col-2 img {
    width: 150%;
    border-radius: 20px;
}*/

/*Featured Products section*/
.small-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 --10px;
}
.col-3 {
    flex: 1 1 25%;
    padding: 10px;
    min-width: 200px;
    box-sizing: border-box;
    border-radius: 10px;
}
col-3 img{
    width: 100px;
   height: 200px;
    object-fit: contain;
    display: block;
    cursor: auto;
    
}
.col-3:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,16),
    0 3px 6px rgba(0,0,0,16);
    transform: translate(0px, -8px);
}
/*button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100px;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    
}*/
/********Popular products captions,title,price,and ratings*******/
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 100px;
    color: black;
    font-family:'Roboto', 'Arial', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    font-size: 55px;
}
/*products name and rating*/
h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    color: #222f3e;
}
.col-3 p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.rating ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.rating ul li {
    padding-top: 5px;
}
.fa {
    font-size: 15px;
    transition: 4s;
    margin: 0;
}
.checked {
    color: goldenrod;
}
/*----Products page-----*/
#products1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
#products1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;   
}
#products1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
}
#products1 .pro img {
    width: 100%;
    border-radius: 20px;
}
#products1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#products1 .pro .des span {
    color: #606063;
    font-size: 12 px;
}
#products1 .pro .des h5 {
    padding-top: 7px;
    font-size: 16px;
    color: black;
}
#products1 .pro .des i {
    font-size: 15px;
    color: goldenrod;
}
#products1 .pro .des h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: springgreen;
}
#products1 .pro button {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #1b491b;
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
/*----Banner---*/
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/front-end/images/b1.PNG);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 {
    color: #fff;
    font-size: 25px;
}
#banner h2 {
    color: #fff;
    font-size: 50px;
    padding: 10px 0;
}
.btn-2 {        /*button styles*/
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner button:hover {
    background-color: #088178;
}
#pagination {
    text-align: center;
}
#pagination a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(41, 70, 70);
    padding-top: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
/*---Single Products Page---*/
#sprodetails {
    display: flex;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px;
}
#sprodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
#sprodetails .single-pro-details {
    width: 50%;
    padding: 30px 50px;
}
#sprodetails .single-pro-details h3 {
     padding: 40px 0 20px 0;
     font-size: 50px;
}
#sprodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    font-size: 30px;
}
#sprodetails .single-pro-details h2 {
    font-size: 26px;
    padding: 20px;
}
/*
#sprodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#sprodetails .single-pro-details input:focus {
    outline: none;
}*/
#sprodetails .single-pro-details span {
    line-height: 30px;
}
#sprodetails .single-pro-details button {
    background: #088178;
    color: #fff;
    padding: 20px;
}
/*single product */
#sprodetails {
    display: flex; 
    flex-direction: column; 
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px;
}
#sprodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
}